In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-05-28 05:30:30,22.0752,-159.3190,80.58,80,20,1.01
1,1,Victoria,HK,2021-05-28 05:19:07,22.2855,114.1577,93.25,81,100,8.01
2,2,Umm Kaddadah,SD,2021-05-28 05:22:37,13.6017,26.6876,83.77,12,34,3.13
3,3,Dikson,RU,2021-05-28 05:30:31,73.5069,80.5464,29.12,86,43,7.99
4,4,Cottonwood Heights,US,2021-05-28 05:26:37,40.6197,-111.8102,64.06,36,1,7.00

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-05-28 05:30:30,22.0752,-159.3190,80.58,80,20,1.01
2,2,Umm Kaddadah,SD,2021-05-28 05:22:37,13.6017,26.6876,83.77,12,34,3.13
5,5,Bubaque,GW,2021-05-28 05:30:31,11.2833,-15.8333,77.34,78,15,9.69
11,11,Salalah,OM,2021-05-28 05:17:46,17.0151,54.0924,86.09,70,20,4.61
14,14,Toumodi,CI,2021-05-28 05:30:35,6.5613,-5.0158,77.50,99,63,3.31
16,16,Atuona,PF,2021-05-28 05:30:36,-9.8000,-139.0333,79.16,72,82,11.92
20,20,San Andres,CO,2021-05-28 05:21:06,12.5847,-81.7006,82.42,78,75,12.66
27,27,Santarem,BR,2021-05-28 05:30:40,-2.4431,-54.7083,77.13,100,75,4.61
31,31,Alofi,NU,2021-05-28 05:22:14,-19.0595,-169.9187,76.89,83,60,5.75
35,35,Namatanai,PG,2021-05-28 05:30:43,-3.6667,152.4333,79.36,86,100,6.76

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0          Kapaa      US     80.58  22.0752 -159.3190
2   Umm Kaddadah      SD     83.77  13.6017   26.6876
5        Bubaque      GW     77.34  11.2833  -15.8333
11       Salalah      OM     86.09  17.0151   54.0924
14       Toumodi      CI     77.50   6.5613   -5.0158
16        Atuona      PF     79.16  -9.8000 -139.0333
20    San Andres      CO     82.42  12.5847  -81.7006
27      Santarem      BR     77.13  -2.4431  -54.7083
31         Alofi      NU     76.89 -19.0595 -169.9187
35     Namatanai      PG     79.36  -3.6667  152.4333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,Umm Kaddadah,SD,83.77,13.6017,26.6876,
5,Bubaque,GW,77.34,11.2833,-15.8333,"Casa Dora, Bubaque"
11,Salalah,OM,86.09,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
14,Toumodi,CI,77.50,6.5613,-5.0158,Hotel Akanza
16,Atuona,PF,79.16,-9.8000,-139.0333,Villa Enata
20,San Andres,CO,82.42,12.5847,-81.7006,Hotel Arena Blanca
27,Santarem,BR,77.13,-2.4431,-54.7083,Ecotur Lodge
31,Alofi,NU,76.89,-19.0595,-169.9187,Taloa Heights
35,Namatanai,PG,79.36,-3.6667,152.4333,Namatanai Hotel

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""